<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.touchSlider.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div class="page-box ">
  <div class="top">
    <div class=" deep-background header">
      <span id="nav-btn" class="nav-btn"></span>
      <span>卡玛木皮</span>
      <span>En</span>
    </div>
  </div>
  <ul id="side-nav" class="side-nav">
    <li class=""><a href="Index.html" class=""><span class="index-icon "></span>首页</a></li>
    <li class="active"><a href="About.html" class="active"><span class="about-icon active "></span>关于我们</a></li>
    <li><a href="Products.html"><span class="product-icon"></span>产品展示</a></li>
    <li><a href="Cases.html"><span class="case-icon"></span>产品案例</a></li>
    <li><a href="News.html"><span class="news-icon"></span>新闻资讯</a></li>
    <li><a href="ContactUs.html"><span class="contact-icon"></span>联系我们</a></li>
    <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
    <li><a href="LoginRegister.html">登录/注册</a></li>
  </ul>
  <div class="about-summary"><img src="../static/img/survey.jpg">
    <div class="about-title survey"><p>公司概况</p> <a href="Survey.html">了解更多</a></div>
  </div>
  <div class="about-summary"><img src="../static/img/develop.jpg">
    <div class="about-title develop"><p>发展历程</p> <a href="Develop.html">了解更多</a></div>
  </div>
  <div class="about-summary"><img src="../static/img/cultrue.jpg">
    <div class="about-title culture"><p>企业文化</p> <a href="Culture.html">了解更多</a></div>
  </div>
  <div class="about-summary"><img src="../static/img/service.jpg">
    <div class="about-title service"><p>优质服务</p> <a href="Service.html">了解更多</a></div>
  </div>
  <div class="about-summary no-bottom"><img src="../static/img/certificate.jpg">
    <div class="about-title certificate"><p>认证证书</p> <a href="AboutCertificate.html">了解更多</a></div>
  </div>
  <ul class="container deep-background  bottom-nav">
    <li class="col-md-3 col-sm-3 col-xs-3">
      <a class="bottom-phone">
        <span></span>
        电话咨询
      </a>
    </li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
  </ul>
  <div class="footer">
    <div class="deep-background back-top">
      <a href="#top" class="top-btn"></a>
    </div>
    <div class=" footer-info">
      <span>电话：0769-87006000</span>
      <span class="left-span">邮箱：kamawoods@163.com</span>
      <hr />
      <p>@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
    </div>
  </div>
  <div class="bottom-nav-height"></div>
</div>
</body>
</html>