<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.touchSlider.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div class="page-box">
  <span id="top"></span>
  <div class="top">
    <div class=" deep-background header">
      <span id="nav-btn" class="nav-btn"></span>
      <span>卡玛木皮</span>
      <span>En</span>
    </div>
  </div>
  <ul id="side-nav" class="side-nav">
    <li class=""><a href="Index.html" class=""><span class="index-icon "></span>首页</a></li>
    <li class=""><a href="About.html" class=""><span class="about-icon "></span>关于我们</a></li>
    <li><a href="Products.html"><span class="product-icon"></span>产品展示</a></li>
    <li class="active"><a href="Cases.html" class="active"><span class="case-icon active"></span>产品案例</a></li>
    <li><a href="News.html"><span class="news-icon"></span>新闻资讯</a></li>
    <li><a href="ContactUs.html"><span class="contact-icon"></span>联系我们</a></li>
    <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
    <li><a href="LoginRegister.html">登录/注册</a></li>
  </ul>

  <div class="container">
    <div class="page-inner-title">
      <div class="back-share">
        <a  href="Cases.html" class="go-back"></a>
        <a class="go-share"></a>
      </div>
      <p>皮木拼花地板</p>
    </div>
    <div class="case-details">
      <img src="../static/img/case-1.png">
      <p>卡玛原木采购运用了最先进的软件，对采购及销售的每一根原木信息进行整理及记录，为客户提供准确无误的文件及信息，确保没一柜原木文件准备齐全，方便客户在目的地收货及迅速完成报关流程。</p>
      <hr>
      <div class="case-btn">
        <p>上一篇
          <a href="CasesDetails.html" class="">工艺品</a></p>
        <p class="next-case">下一篇
          <a href="CasesDetails.html" class="">游艇</a></p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="deep-background back-top">
      <a href="#top" class="top-btn"></a>
    </div>
    <div class=" footer-info">
      <span>电话：0769-87006000</span>
      <span class="left-span">邮箱：kamawoods@163.com</span>
      <hr />
      <p>@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
    </div>
  </div>
  <ul class="container deep-background  bottom-nav">
    <li class="col-md-3 col-sm-3 col-xs-3">
      <a class="bottom-phone">
        <span></span>
        电话咨询
      </a>
    </li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
  </ul>
  <div class="bottom-nav-height"></div>
</div>
</body>
</html>