<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.touchSlider.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
</head>

<body>
  <div class="page-box">
    <span id="top"></span>
    <div class="top">
      <div class=" deep-background header">
        <span id="nav-btn" class="nav-btn"></span>
        <span>卡玛木皮</span>
        <span>En</span>
      </div>
    </div>
    <ul id="side-nav" class="side-nav">
      <li class=""><a href="Index.html" class=""><span class="index-icon "></span>首页</a></li>
      <li><a href="About.html"><span class="about-icon "></span>关于我们</a></li>
      <li><a href="Products.html"><span class="product-icon"></span>产品展示</a></li>
      <li><a href="Cases.html"><span class="case-icon"></span>产品案例</a></li>
      <li><a href="News.html"><span class="news-icon"></span>新闻资讯</a></li>
      <li class="active"><a href="ContactUs.html" class="active"><span class="contact-icon active"></span>联系我们</a></li>
      <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
      <li><a href="LoginRegister.html">登录/注册</a></li>
    </ul>
  <div  class="container contact-content">
    <div  class="page-inner-title"><p >联系我们</p>
    </div>
    <div  class="content-info"><p  class="company-name">东莞市卡玛实业有限公司</p>
      <p >电话：0769-82906000</p>
      <p >传真：0769-82900010</p>
      <p >13592737003 杨贝贝</p>
      <p >15999838585 王金明</p>
      <p >邮箱：kamawoods@163.com</p>
      <p >地址：广东省东莞市厚街镇科技大道东方兴业城B9座</p>
      <p >网址：http://www.kamawoods.com</p>
      <p >炫铺地址：http://kama888.b2b.hc360.com</p>
    </div>
    <!-- <div  class="contact-us"> -->
       
      <!-- <div  class="contact-tab"><p  class="leave-msg">发表您的留言：</p>
        <p ><label >联系人：</label><input  type="text"></p>
        <p ><label >电 话：</label><input  type="tel"></p>
        <p ><label >邮 箱：</label><input  type="email"></p>
        <p ><label >内 容：</label><textarea ></textarea></p>
        <p ><label >验证码：</label><input  type="text"></p>
        <div  class="order-btn">
          <button  class="submit">提交</button>
          <button  class="reset">重置</button>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
  <div class="footer">
      <div class="deep-background back-top">
        <a href="#top" class="top-btn"></a>
      </div>
     <div class=" footer-info">
       <span>电话：0769-87006000</span>
       <span class="left-span">邮箱：kamawoods@163.com</span>
       <hr />
       <p>@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
     </div>
    </div>
    <ul class="container deep-background  bottom-nav">
      <li class="col-md-3 col-sm-3 col-xs-3">
        <a class="bottom-phone">
          <span></span>
          电话咨询
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
    </ul>
    <div class="bottom-nav-height"></div>
</div>
</body>
</html>