<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>


  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.touchSlider.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
</head>

<body>
  <div class="page-box">
    <span id="top"></span>
    <div class="top">
      <div class=" deep-background header">
        <span id="nav-btn" class="nav-btn"></span>
        <span>卡玛木皮</span>
        <span>En</span>
      </div>
    </div>
    <ul id="side-nav" class="side-nav">
      <li class=""><a href="Index.html" class=""><span class="index-icon"></span>首页</a></li>
      <li><a href="About.html"><span class="about-icon "></span>关于我们</a></li>
      <li><a href="Products.html"><span class="product-icon"></span>产品展示</a></li>
      <li><a href="Cases.html"><span class="case-icon"></span>产品案例</a></li>
      <li><a href="News.html"><span class="news-icon"></span>新闻资讯</a></li>
      <li><a href="ContactUs.html"><span class="contact-icon"></span>联系我们</a></li>
      <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
      <li><a href="LoginRegister.html">登录/注册</a></li>
    </ul>
    <div class="page-icon">
      <img src="../static/img/phone/LOGO.png">
    </div>
    <div class="login-register">
      <p><a class="go-register" data-type="register">注册</a> | <a data-type="login" class="go-login active">登录</a></p>
      <div class="login-box">
        <form action="">
          <p class="form-line"><label>邮箱：</label><input type="email"></p>
          <p class="form-line"><label>输入密码：</label><input type="password"></p>
          <p class="form-line">
          <label>输入验证码：</label><input name="identifying" class="identifying-text" type="text"><span class="box-border identifying-img"></span>
          </p>
          <p class="form-line pwd-btn"><label></label><input type="checkbox" class="checkbox">记住我<a class="forget-pwd">忘记密码？</a></p>
          <p class="form-line">
            <label></label>
            <button class="login-register-btn">登陆</button>
          </p>

        </form>
      </div>
      <div class="register-box">
        <form action="">
          <p class="form-line"><label>姓名：</label><input type="email"></p>
          <p class="form-line sex-line"><label>性别：</label>
            <input class="sex-box" type="radio" name="sex">男
            <input class="sex-box famale" type="radio" name="sex">女
          </p>
          <p class="form-line"><label>邮箱：</label><input type="password"></p>
          <p class="form-line"><label>输入密码：</label><input type="password"></p>
          <p class="form-line">
            <label>输入验证码：</label>
            <input name="identifying" class="identifying-text" type="text">
            <span class="get-identifying">获取验证码</span>
            <span class="identifying-tip">（请输入邮箱验证码）</span>
          </p>
          <p class="form-line pwd-btn"><label></label>
            <input type="checkbox" class="checkbox">已阅读并同意签署《用户注册协议》</p>
          <p class="form-line">
            <label></label>
            <button class="login-register-btn">注册</button>
          </p>

        </form>
      </div>
    </div>
    <div class="page-icon"></div>
    <ul class="container deep-background  bottom-nav">
      <li class="col-md-3 col-sm-3 col-xs-3">
        <a class="bottom-phone">
          <span></span>
          电话咨询
        </a>
      </li>
      <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
    </ul>
    <div class="bottom-nav-height"></div>
  </div>
</body>

</html>