<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.touchSlider.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div class="page-box">
  <div class="top">
    <div class=" deep-background header">
      <span id="nav-btn" class="nav-btn"></span>
      <span>卡玛木皮</span>
      <span>En</span>
    </div>
  </div>
  <ul id="side-nav" class="side-nav">
    <li class=""><a href="Index.html" class=""><span class="index-icon "></span>首页</a></li>
    <li><a href="About.html"><span class="about-icon "></span>关于我们</a></li>
    <li><a href="Products.html"><span class="product-icon"></span>产品展示</a></li>
    <li><a href="Cases.html"><span class="case-icon"></span>产品案例</a></li>
    <li class="active"><a href="News.html" class="active"><span class="news-icon active"></span>新闻资讯</a></li>
    <li><a href="ContactUs.html"><span class="contact-icon"></span>联系我们</a></li>
    <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
    <li><a href="LoginRegister.html">登录/注册</a></li>
  </ul>
  <div class="container">
    <div class="page-inner-title"><p>新闻资讯</p>
      <hr>
    </div>
    <ul class="news-list">
      <li class="col-md-4 col-sm-6 col-xs-6">
        <a href="NewsDetails.html" class="">
          <p class="date">05/10
            <span>2018</span>
          </p>
          <p class="title">红橡山AAA级</p>
          <img src="../static/img/news-1.png">
          <p class="content">
            东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
        </a>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <a href="NewsDetails.html" class="">
          <p class="date">05/10
            <span>2018</span>
          </p>
          <p class="title">红橡山AAA级</p>
          <img src="../static/img/news-2.png">
          <p class="content">
            东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
        </a>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <a href="NewsDetails.html" class="">
          <p class="date">05/10
            <span>2018</span>
          </p>
          <p class="title">红橡山AAA级</p>
          <img src="../static/img/news-2.png">
          <p class="content">
            东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
        </a>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <a href="NewsDetails.html" class="">
          <p class="date">05/10
            <span>2018</span>
          </p>
          <p class="title">红橡山AAA级</p>
          <img src="../static/img/news-2.png">
          <p class="content">
            东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
        </a>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <a href="NewsDetails.html" class="">
          <p class="date">05/10
            <span>2018</span>
          </p>
          <p class="title">红橡山AAA级</p>
          <img src="../static/img/news-2.png">
          <p class="content">
            东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
        </a>
      </li>
      <li class="col-md-4 col-sm-6 col-xs-6">
        <a href="NewsDetails.html" class="">
          <p class="date">05/10
            <span>2018</span>
          </p>
          <p class="title">红橡山AAA级</p>
          <img src="../static/img/news-2.png">
          <p class="content">
            东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
        </a>
      </li>
    </ul>

  </div>
  <div class="footer">
    <div class="deep-background back-top">
      <a href="#top" class="top-btn"></a>
    </div>
    <div class=" footer-info">
      <span>电话：0769-87006000</span>
      <span class="left-span">邮箱：kamawoods@163.com</span>
      <hr />
      <p>@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
    </div>
  </div>
  <ul class="container deep-background  bottom-nav">
    <li class="col-md-3 col-sm-3 col-xs-3">
      <a class="bottom-phone">
        <span></span>
        电话咨询
      </a>
    </li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
  </ul>
  <div class="bottom-nav-height"></div>
</div>
</body>
</html>