<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.touchSlider.js"></script>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div class="page-box">
    <div class="top">
        <div class=" deep-background header">
            <span id="nav-btn" class="nav-btn"></span>
            <span>卡玛木皮</span>
            <span>En</span>
        </div>
    </div>
    <ul id="side-nav" class="side-nav">
        <li class=""><a href="Index.html" class=""><span class="index-icon"></span>首页</a></li>
        <li><a href="About.html"><span class="about-icon "></span>关于我们</a></li>
        <li class="active"><a href="Products.html" class="active"><span class="product-icon active"></span>产品展示</a></li>
        <li><a href="Cases.html"><span class="case-icon"></span>产品案例</a></li>
        <li><a href="News.html"><span class="news-icon"></span>新闻资讯</a></li>
        <li><a href="ContactUs.html"><span class="contact-icon"></span>联系我们</a></li>
        <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
        <li><a href="LoginRegister.html">登录/注册</a></li>
    </ul>
    <ul class="deep-background  product-nav">
        <li class="col-md-2 col-sm-2 col-xs-2"><a href="Products.html">主营产品</a></li>
        <li class="col-md-2 col-sm-2 col-xs-2"><a href="Products.html">精品产品</a></li>
        <li class="col-md-2 col-sm-2 col-xs-2"><a href="Products.html">北美材</a></li>
        <li class="col-md-2 col-sm-2 col-xs-2"><a href="Products.html">欧洲材</a></li>
        <li class="col-md-2 col-sm-2 col-xs-2"><span class="more-nav"></span></li>
    </ul>
    <ul class="deep-background product-nav second-product">
        <li class="col-md-2 col-sm-2 col-xs-2"><a href="Products.html">东南亚材</a></li>
        <li class="col-md-2 col-sm-2 col-xs-2"><a href="Products.html">非洲材</a></li>
        <li class="col-md-2 col-sm-2 col-xs-2"><a href="Products.html">中南美材</a></li>
        <li class="col-md-2 col-sm-2 col-xs-2"><a href="Products.html">染色系列</a></li>
        <li class="col-md-2 col-sm-2 col-xs-2"></li>
    </ul>
    <div class="container">
        <ul class="product-list product-page">
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div>
                     <a class="img-href" href="ProductsDetails.html"><img src="../static/img/hongxiang.jpg"></a>
                    <a href="ProductsDetails.html" class="">
                        <p class="font-size-20 center-position">红橡</p></a>
                    <p class="pro-line"></p> <a href="#"
                                                class="pro-btn product-order">立即预定</a></div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div>
                    <a class="img-href" href="ProductsDetails.html"><img src="../static/img/baixiang.jpg"></a>
                    <a
                        href="ProductsDetails.html" class=""><p
                        class="font-size-20 center-position">白象</p></a>
                    <p class="pro-line"></p> <a href="#"
                                                class="pro-btn product-order">立即预定</a></div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div>
                    <a class="img-href" href="ProductsDetails.html"><img src="../static/img/fengmu.jpg"> </a>
                    <a
                        href="ProductsDetails.html"
                        class=""><p
                        class="font-size-20 center-position">枫木</p></a>
                    <p class="pro-line"></p> <a href="#"
                                                class="pro-btn product-order">立即预定</a></div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div>
                    <a class="img-href" href="ProductsDetails.html"><img src="../static/img/baishuan.jpg"></a>
                    <a
                        href="ProductsDetails.html" class=""><p
                        class="font-size-20 center-position">白栓</p></a>
                    <p class="pro-line"></p> <a href="#"
                                                class="pro-btn product-order">立即预定</a></div>
            </li>
        </ul>
    </div>
    <ul class="container deep-background  bottom-nav">
        <li class="col-md-3 col-sm-3 col-xs-3">
            <a class="bottom-phone">
                <span></span>
                电话咨询
            </a>
        </li>
        <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
        <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
        <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
    </ul>
    <div class="footer">
        <div class="deep-background back-top">
            <a href="#top" class="top-btn"></a>
        </div>
        <div class=" footer-info">
            <span>电话：0769-87006000</span>
            <span class="left-span">邮箱：kamawoods@163.com</span>
            <hr/>
            <p>@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
        </div>
    </div>
    <div class="bottom-nav-height"></div>
</div>
</body>
</html>