<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.touchSlider.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div class="page-box">
  <div class="top">
    <div class=" deep-background header">
      <span id="nav-btn" class="nav-btn"></span>
      <span>卡玛木皮</span>
      <span>En</span>
    </div>
  </div>
  <ul id="side-nav" class="side-nav">
    <li class=""><a href="Index.html" class=""><span class="index-icon"></span>首页</a></li>
    <li><a href="About.html"><span class="about-icon "></span>关于我们</a></li>
    <li class="active"><a href="Products.html" class="active"><span class="product-icon active"></span>产品展示</a></li>
    <li><a href="Cases.html"><span class="case-icon"></span>产品案例</a></li>
    <li><a href="News.html"><span class="news-icon"></span>新闻资讯</a></li>
    <li><a href="ContactUs.html"><span class="contact-icon"></span>联系我们</a></li>
    <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
    <li><a href="LoginRegister.html">登录/注册</a></li>
  </ul>
  <div class="product-img">
    <img src="../static/img/hongxiang.jpg">
    <div class="back-share">
      <a  href="Products.html" class="go-back"></a>
      <a class="go-share"></a>
    </div>
  </div>
  <div class="container">
    <div class="product-details">
      <div class="product-info">
        <div class="col-md-8 col-sm-8 col-xs-8 product-text">
          <p>产品名称：<span>红橡</span></p>
          <p>产品类型：<span>皮木</span></p>
          <p>产品型号：<span></span></p>
          <p>查看次数：<span>1029</span></p>
          <p>订购热线：<span>0769-82906000</span></p>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 product-btn">
          <button>立即预定</button>
          <a class="online-order"><span>*</span>在线预定</a>
        </div>
      </div>
    </div>
  </div>
  <div class="product-describe">
    <div class="container">
      <p class="describe-title">产品详情</p>
      <p class="box-border describe-text">
        颜色:乳白到本白。有时带轻淡红棕色，西部木材多数呈淡灰棕色。特征:木材紧密、纹理均匀、抛光性佳，偶有轻淡绿灰色之矿质纹路，易涂装。木质:强度适中，质量木质细腻。用此品种铺装地面，舒适、温柔、明亮、大方。</p>
    </div>
  </div>
  <div class="container">
    <div class="product-order-tab">
      <p class="order-title">订购信息 <span>（在线订购，<span class="must-item">*</span>为必填项）</span></p>
      <hr>
      <div class="order-base">
        <span><span class="must-item">*</span>联系人：</span> <input
              name="contacts"
              type="text">
        <span><span class="must-item">*</span>电 话：</span> <input name="call" type="tel">
        <span>邮 箱：</span> <input name="mail" type="email"> <span>收货地址：</span>
        <input name="address" type="text">
        <span>详细描述：</span>
        <textarea></textarea>
        <span>验证码：</span>
        <p>
          <input name="identifying" class="identifying-text" type="text"><span class="box-border identifying-img"></span>
          <a>换一张</a>
        </p>

      </div>

      <div class="order-btn">
        <button class="submit">提交</button>
        <button class="reset">重置</button>
      </div>
    </div>
  </div>
  <ul class="container deep-background  bottom-nav">
    <li class="col-md-3 col-sm-3 col-xs-3">
      <a class="bottom-phone">
        <span></span>
        电话咨询
      </a>
    </li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
  </ul>
  <div class="footer">
    <div class="deep-background back-top">
      <a href="#top" class="top-btn"></a>
    </div>
    <div class=" footer-info">
      <span>电话：0769-87006000</span>
      <span class="left-span">邮箱：kamawoods@163.com</span>
      <hr />
      <p>@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
    </div>
  </div>
  <div class="bottom-nav-height"></div>
</div>
</body>
</html>