<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.touchSlider.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
</head>

<body>
<div class="page-box">
  <span id="top"></span>
  <div class="top">
    <div class=" deep-background header">
      <span id="nav-btn" class="nav-btn"></span>
      <span>卡玛木皮</span>
      <span>En</span>
    </div>
  </div>
  <ul id="side-nav" class="side-nav">
    <li class="active"><a href="Index.html" class="active"><span class="index-icon active"></span>首页</a></li>
    <li><a href="About.html"><span class="about-icon "></span>关于我们</a></li>
    <li><a href="Products.html"><span class="product-icon"></span>产品展示</a></li>
    <li><a href="Cases.html"><span class="case-icon"></span>产品案例</a></li>
    <li><a href="News.html"><span class="news-icon"></span>新闻资讯</a></li>
    <li><a href="ContactUs.html"><span class="contact-icon"></span>联系我们</a></li>
    <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
    <li><a href="LoginRegister.html">登录/注册</a></li>
  </ul>
  <div id="carousel" class="carousel-wrap">
    <ul class="slide-ul">
      <li>
        <a href="#">
          <img src="../static/img/phone/banner-1.png" alt="nhwc">
        </a>
      </li>
      <li show="true">
        <a href="#">
          <img src="../static/img/phone/banner-2.png" alt="hxrj">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../static/img/phone/banner-1.png" alt="rsdh">
        </a>
      </li>
    </ul>
    <a href="javascript:;" id="btn_prev"></a>
    <a href="javascript:;" id="btn_next"></a>
    <div class="carousel-items">
      <span class=""></span>
      <span class="active"></span>
      <span class=""></span>
    </div>
  </div>
  <div  class="container">
    <div  class="recruit-content">
      <div  class="recruit-info"><p  class="recruit-position">岗位名称：运营专员</p>
        <p  class="recruit-des"><span ></span>岗位职责：</p>
        <ul >
          <li >1、理解产品</li>
          <li >2、文案、创意、内容运营（程序抓取网页内容、自己编辑内容输送、设置激励机制让用户自动提交内容）、用户运营、推广运营</li>
          <li >3、数据分析</li>
        </ul>
        <p  class="recruit-des"><span ></span>岗位要求：</p>
        <ul >
          <li >1、本科以上学历</li>
          <li >2、有互联网运营经验或互联网从业经验</li>
          <li >3、熟练使用OFFICE软件</li>
          <li >4、有PS功底（加分项）</li>
        </ul>
        <p  class="recruit-line"></p></div>
      <div  class="recruit-info"><p  class="recruit-position">岗位名称：运营专员</p>
        <p  class="recruit-des"><span ></span>岗位职责：</p>
        <ul >
          <li >1、理解产品</li>
          <li >2、文案、创意、内容运营（程序抓取网页内容、自己编辑内容输送、设置激励机制让用户自动提交内容）、用户运营、推广运营</li>
          <li >3、数据分析</li>
        </ul>
        <p  class="recruit-des"><span ></span>岗位要求：</p>
        <ul >
          <li >1、本科以上学历</li>
          <li >2、有互联网运营经验或互联网从业经验</li>
          <li >3、熟练使用OFFICE软件</li>
          <li >4、有PS功底（加分项）</li>
        </ul>
        <p  class="recruit-line"></p></div>
      <div  class="recruit-info"><p  class="recruit-position">岗位名称：运营专员</p>
        <p  class="recruit-des"><span ></span>岗位职责：</p>
        <ul >
          <li >1、理解产品</li>
          <li >2、文案、创意、内容运营（程序抓取网页内容、自己编辑内容输送、设置激励机制让用户自动提交内容）、用户运营、推广运营</li>
          <li >3、数据分析</li>
        </ul>
        <p  class="recruit-des"><span ></span>岗位要求：</p>
        <ul >
          <li >1、本科以上学历</li>
          <li >2、有互联网运营经验或互联网从业经验</li>
          <li >3、熟练使用OFFICE软件</li>
          <li >4、有PS功底（加分项）</li>
        </ul> <!----></div>
      <div  class="recruit-mail"><span  class="recruit-mail-icon"></span> <span
        >请投简历至</span> <span >kamamupi@163.com</span></div>
    </div>
  </div>
  <div class="footer">
    <div class="deep-background back-top">
      <a href="#top" class="top-btn"></a>
    </div>
    <div class=" footer-info">
      <span>电话：0769-87006000</span>
      <span class="left-span">邮箱：kamawoods@163.com</span>
      <hr />
      <p>@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
    </div>
  </div>
  <ul class="container deep-background  bottom-nav">
    <li class="col-md-3 col-sm-3 col-xs-3">
      <a class="bottom-phone">
        <span></span>
        电话咨询
      </a>
    </li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
  </ul>
  <div class="bottom-nav-height"></div>
</div>
</body>
</html>