<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.touchSlider.js"></script>
  <script src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div class="page-box">
  <div class="top">
    <div class=" deep-background header">
      <span id="nav-btn" class="nav-btn"></span>
      <span>卡玛木皮</span>
      <span>En</span>
    </div>
  </div>
  <ul id="side-nav" class="side-nav">
    <li class="active"><a href="Index.html" class=""><span class="index-icon"></span>首页</a></li>
    <li class="active"><a href="About.html" class="active"><span class="about-icon active "></span>关于我们</a></li>
    <li><a href="Products.html"><span class="product-icon"></span>产品展示</a></li>
    <li><a href="Cases.html"><span class="case-icon"></span>产品案例</a></li>
    <li><a href="News.html"><span class="news-icon"></span>新闻资讯</a></li>
    <li><a href="ContactUs.html"><span class="contact-icon"></span>联系我们</a></li>
    <li><a href="Mark.html"><span class="mark-icon"></span>卡玛商城</a></li>
    <li><a href="LoginRegister.html">登录/注册</a></li>
  </ul>
  <ul class="deep-background container about-nav">
    <li class="col-md-2 col-sm-2 col-xs-2"><a href="Survey.html">公司概况</a></li>
    <li class="col-md-2 col-sm-2 col-xs-2"><a href="Develop.html">发展历程</a></li>
    <li class="col-md-2 col-sm-2 col-xs-2"><a href="Culture.html">企业文化</a></li>
    <li class="col-md-2 col-sm-2 col-xs-2"><a href="Service.html" class="active">优质服务</a></li>
    <li class="col-md-2 col-sm-2 col-xs-2"><a href="AboutCertificate.html">认证证书</a></li>
  </ul>
  <div class="container">
    <div class="page-inner-title"><p>优质服务</p>
    </div>
    <div class="service-content">
      <p class="service-title">科学的服务支持</p>
      <ul>
        <li>拥有高标准的旗舰店</li>
        <li>拥有高标准统一管理的授权店</li>
      </ul>
      <p class="service-title">专业的软件支持</p>
      <ul>
        <li>合理科学的卖场环境规划</li>
        <li>统一卖场管理手册</li>
        <li>优质的客户跟踪服务管理体系</li>
        <li>统一联合促销活动</li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <div class="deep-background back-top">
      <a href="#top" class="top-btn"></a>
    </div>
    <div class=" footer-info">
      <span>电话：0769-87006000</span>
      <span class="left-span">邮箱：kamawoods@163.com</span>
      <hr />
      <p>@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
    </div>
  </div>
  <ul class="container deep-background  bottom-nav">
    <li class="col-md-3 col-sm-3 col-xs-3">
      <a class="bottom-phone">
        <span></span>
        电话咨询
      </a>
    </li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-qq"><span></span>在线咨询</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a href="LeaveMsg.html" class="bottom-msg"><span></span>在线留言</a></li>
    <li class="col-md-3 col-sm-3 col-xs-3"><a class="bottom-map"><span></span>在线地图</a></li>
  </ul>
  <div class="bottom-nav-height"></div>
</div>
</body>
</html>